<div class="sticky-header" *ngIf="channel && users">
    <div class="channel-name">
        # {{ channel.name }}
    </div>

    <div *ngIf="getMembers(channel).length == 1" class="align-profiles hover" (click)="openViewPeopleDialog()">
        <img class="mini-profile" src="{{ getUserProfileAlt(0, channel) }}" alt="small profile picture">
    </div>
    <div *ngIf="getMembers(channel).length > 1  && getMembers(channel)!.length < 4" class="align-profiles hover"
        (click)="openViewPeopleDialog()">
        <div *ngFor="let member of channel.members; let i = index">
            <img class="mini-profile" src="{{ getUserProfileAlt(i, channel) }}" alt="small profile picture">
        </div>
    </div>
    <div *ngIf="getMembers(channel).length >= 4" class="align-profiles hover" (click)="openViewPeopleDialog()">
        <div class="profile-container">
            <img class="mini-profile" src="{{ getUserProfileAlt(0, channel) }}" alt="small profile picture">
            <img class="mini-profile" src="{{ getUserProfileAlt(1, channel) }}" alt="small profile picture">
            <img class="mini-profile" src="{{ getUserProfileAlt(2, channel) }}" alt="small profile picture">
        </div>
        <div class="counter">+{{ channel.members.length - 3}}</div>
    </div>
</div>