/**
* Chat styles
**/
.chat-container {
    box-sizing: border-box;
    position: relative;

    .thread {
        position: relative;
        background-color: unset;
        box-shadow: unset;
        padding: 8px 10px;
        cursor: pointer;
        transition: background-color 125ms ease-in-out;
        &:hover {
            background-color: #252525;
        }

        &:hover .replies {
            background-color: #252525;
            border: 1px solid #333;
        }

        &:hover mat-icon {
            color: #ccc;
        }

        &:hover .overlay {
            opacity: 1;
        }
    }
}

.message-replies-container {
    width: 100%;
    margin-left: 3.5rem;
    color: #50a3e6;
    .replies {
        display: flex;
        max-width: 300px;
        justify-content: space-between;
        border: 1px solid #3330;
        padding: 2px 5px;
        border-radius: 3px;
        transition: all 225ms ease-in-out;
        mat-icon {
            transition: all 225ms ease-in-out;
            color: #ccc0;
        }
        .replies-content {
            display: flex;
            align-items: center;
            transform: translateY(2px);
        }
        .reply-userimg {
            width: 1rem;
            height: 1rem;
            border-radius: 3px;
            margin-right: 5px;
        }
        .reply-amount {
            transform: translateY(-2px);
            margin-left: 5px;
        }
    }
}
